* {
    box-sizing: border-box;
}

/** Para separar las diferentes cajas que componen la pagina */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Permite que la clase Columna flote hacia la izquierda y tenga un Padding de 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="img"] {
    float: right;
    padding: 15px;
}

/** Define el tipo de letra de la pagina */
html {
    font-family: "Lucida Sans", sans-serif;
}

/** 1) Defino el estilo del Header */
.header {
    color: #0a3f52;
    padding: 20px;
    text-align: center;
    background-image: url('girasoles.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/** 2) Defino el estilo para el cuadro donde deposito la foto de retrato */
.aside {
    border:2px solid;
    border-color: #be1e76;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/** Define el estilo del Menu ul, la 1ra instruccion elimina el estilo asignado por default
y las 2da y 3ra ubican el Menu en el angulo superior izquierdo de la Box */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/** Define el estilo de los Elementos li del Menu ul: la 1ra instruccion le da dimension al Padding
de cada li y la 2da establece la separacion entre un elemento y el siguiente; el resto de las instrucciones
aportan colores y tamanios (px) de sombras */
.menu li {
    padding: 18px;
    margin-bottom: 13px;
    background-color: #e6ab2c;
    color: #680851;
    box-shadow: 0 1px 2px rgba(186, 226, 9, 0.12), 0 1px 12px rgba(171, 230, 11, 0.24);
}

/** Para cambiar el color de fondos y fonts cuando pasamos el mouse por encima de un elemento. */
.menu li :hover {
    background-color: #e6ab2c;
    color: #680851;
}

.marco ul {
    list-style-type:none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #e6ab2c;
}

.marco li {
    float:left; 
    padding:18px; 
    color: #e6cde0; 
    width: 20%; 
    text-align: center;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
    padding: 5px;
    padding-left: 10px;
}

/**
.button {
    background-color: #e6cde0;
    color: #e6cde0;
    text-align: center;
    font-size: 28px;
    padding: 15px;
}

a:link {
    color: #e6cde0;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/

/** Define el estilo del Footer */
.footer {
    color: #0a3f52;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    background-image: url('girasoles.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


